.listing {
  padding-top: 30px;
}
.mood-heading {
  color: var(--primary-color);
  padding: 20px 20px 0 20px;
  font-size: 28px;
  font-weight: 500;
}
.mood-photo {
  max-width: 50%;
  min-width: 90px;
  object-fit: cover;
  padding-bottom: 5px;
}

.mood-photo:hover {
  transform: scale(1.1);
}

.text-mood {
  padding: 10px 20px 20px 20px;
}

section.listing a {
  text-decoration: none;
  font-size: 23px;
}
