nav {
  padding: 20px;
  text-align: left;
  background: var(--primary-color);
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

section {
  text-align: center;
  font-size: 20px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  color: var(--secondary-color);
  padding: 10px;
  padding-bottom: 0px;
}
