* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
}
:root {
  background: #ffffe6;
  --primary-color: #002e30;
  --secondary-color: #ffffe6;
  --accent-color: #c7864e;
  --shadow-color: #ffdab4;
  --banner-color: #2abbc9;
}

button.primary {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: white;
  border-radius: 8px;
}

h1 {
  font-family: "Be Vietnam Pro", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
